body {
  margin: 0;
  font-family: Arial;
}

/* INPUT */
.input-screen {
  text-align: center;
  margin-top: 150px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  background: #ff4d6d;
  color: white;
}

/* FULL POSTER */
.poster {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #d4fc79, #96e6a1, #fbc2eb);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* TOP HEART */
.top-heart {
  font-size: 120px;
  margin-top: 60px;
  animation: float 3s infinite;
}

/* CENTER */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-img {
  width: 180px;
  height: 180px;
  filter: drop-shadow(0px 10px 20px rgba(0,0,0,0.2));
  animation: pulse 2s infinite;
}

/* BOTTOM HEART */
.bottom-heart {
  font-size: 120px;
  margin-bottom: 60px;
  animation: float 3s infinite;
}

/* ANIMATIONS */
@keyframes float {
  50% { transform: translateY(-20px); }
}

@keyframes pulse {
  50% { transform: scale(1.2); }
}
